.navbar--fixed-top {
    position: absolute;
    width: 100vw;
    background-color: #23232357;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 10px 0;
    background-color: unset;
    color: #b4b4b4;
}